{% extends "base.html" %}
{% block extrahead %}
  {% set title = config.site_name %}
  {% if page and page.title and not page.is_homepage %}
    {% set title = config.site_name ~ " - " ~ page.title | striptags %}
  {% endif %}
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ config.site_description }}">
  <meta property="og:url" content="{{ page.canonical_url }}">
  <meta property="og:image" content="https://i.photoprism.app/?cover=17&title={{ page.title | urlencode }}&description={{ config.site_description | urlencode }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@photoprism_app">
  <meta name="twitter:creator" content="@photoprism_app">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ config.site_description }}">
  <meta name="twitter:image" content="https://i.photoprism.app/?cover=17&title={{ page.title | urlencode }}&description={{ config.site_description | urlencode }}">
  <link rel="shortcut icon" sizes="512x512" type="image/png" href="/icons/logo/512.png">
  <link rel="shortcut icon" sizes="256x256" type="image/png" href="/icons/logo/256.png">
  <link rel="shortcut icon" sizes="196x196" type="image/png" href="/icons/logo/196.png">
  <link rel="shortcut icon" sizes="192x192" type="image/png" href="/icons/logo/192.png">
  <link rel="shortcut icon" sizes="160x160" type="image/png" href="/icons/logo/160.png">
  <link rel="shortcut icon" sizes="144x144" type="image/png" href="/icons/logo/144.png">
  <link rel="shortcut icon" sizes="128x128" type="image/png" href="/icons/logo/128.png">
  <link rel="shortcut icon" sizes="114x114" type="image/png" href="/icons/logo/114.png">
  <link rel="shortcut icon" sizes="72x72" type="image/png" href="/icons/logo/72.png">
  <link rel="shortcut icon" sizes="32x32" type="image/png" href="/icons/logo/32.png">
  <link rel="shortcut icon" sizes="16x16" type="image/png" href="/icons/logo/16.png">
  <script async defer data-domain="docs.photoprism.org" src="https://a.photoprism.app/js/plausible.js"></script>
{% endblock %}
{% block announce %}
<a href="https://www.patreon.com/photoprism">
  Become a sponsor on <strong>Patreon <span class="twemoji"><img src="/img/patreon.svg" alt="Patreon" style="width: 16px; height: 16px;"></span></strong>
</a>
{% endblock %}
