{% extends "base.html" %}
{% block extrahead %}
  {% set title = config.site_name %}
  {% if page and page.title and not page.is_homepage %}
    {% set title = config.site_name ~ " - " ~ page.title | striptags %}
  {% endif %}
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ config.site_description }}">
  <meta property="og:url" content="{{ page.canonical_url }}">
  <meta property="og:image" content="https://dl.photoprism.org/assets/img/preview.jpg">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@browseyourlife">
  <meta name="twitter:creator" content="@browseyourlife">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ config.site_description }}">
  <meta name="twitter:image" content="https://dl.photoprism.org/assets/img/preview.jpg">
{% endblock %}
{% block announce %}
  <style>.md-announce a,.md-announce a:focus,.md-announce a:hover{color:currentColor}.md-announce strong{white-space:nowrap}.md-announce .twitter{margin-left:.2em;color:#00acee}</style>
  <a href="https://github.com/sponsors/lastzero">
    Support us via <strong>GitHub
    <span class="twemoji">
      <svg viewBox="0 2 12 16">
        <path fill="#ea4aaa" d="M8.727 3C7.091 3 6.001 4.65 6.001 4.65S4.909 3 3.273 3C1.636 3 0 4.1 0 6.3 0 9.6 6 14 6 14s6-4.4 6-7.7C12 4.1 10.364 3 8.727 3z"></path>
      </svg>
    </span>
    Sponsors</strong>!
  </a>
{% endblock %}
