<div class="footer-info">
    PhotoPrism® is a <a href="https://photoprism.app/trademark" target="_blank">registered trademark</a>.
    Docs are available under the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a> License; additional terms may apply.
    By using our software and services, you agree to our
    <a href="https://photoprism.app/terms" target="_blank">terms of service</a>,
    <a href="https://photoprism.app/privacy" target="_blank">privacy policy</a>, and
    <a href="https://photoprism.app/code-of-conduct" target="_blank">code of conduct</a>.
</div>

<div class="md-copyright">
    <div class="md-copyright__highlight" title="Made with ❤ in Berlin">
        <a href="https://photoprism.app/contact">© 2018-{{ build_date_utc.year }} PhotoPrism UG</a>
    </div>
</div>