a.action-button {
    border-radius: 5px;
    background-color: #4d5966;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.6rem;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    padding: 6px 20px;
    margin: 0 0 3px 0;
}

a.action-button:hover {
    text-decoration: none;
    font-weight: 500;
    background-color: #fa0;
    color: #000000;
}

.footer-info {
    text-align: left;
    width: 100%;
    color: var(--md-footer-fg-color--lighter);
    font-size: .64rem;
    margin: auto 0.6rem;
    padding: 0.4rem 0 0 0;
}

html .footer-info a {
    color: var(--md-footer-fg-color--lighter) !important;
}

p.announce-banner a,
p.announce-banner a:focus,
p.announce-banner a:hover {
    color:currentColor;
}

p.announce-banner {
    margin: 0;
    padding: 0;
}

p.announce-banner strong {
    white-space:nowrap;
}

.md-banner__inner {
    margin: .3rem auto;
}

span.build {
    font-size: .66rem;
}

header.md-header .md-ellipsis {
    font-family: Roboto,sans-serif!important;
    font-size: 20px!important;
    font-weight: 500;
    letter-spacing: .02em!important;
}
