a.action-button {
    border-radius: 5px;
    background-color: #4d5966;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.6rem;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    padding: 6px 20px;
    margin: 0 0 3px 0;
}

a.action-button:hover {
    text-decoration: none;
    font-weight: 500;
    background-color: #fa0;
    color: #000000;
}

footer.md-footer .footer-info {
    text-align: left;
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
    font-size: .64rem;
    margin: auto 0.6rem;
    padding: 0.4rem 0 0 0;
}

footer.md-footer .footer-info a {
    color: rgba(255, 255, 255, 0.55)!important;
}

footer.md-footer .md-copyright a:hover,
footer.md-footer  .footer-info a:hover {
    color: rgba(255, 255, 255, 0.7)!important;
    text-decoration: underline;
}

p.announce-banner a,
p.announce-banner a:focus,
p.announce-banner a:hover {
    color:currentColor;
}

p.announce-banner {
    margin: 0;
    padding: 0;
}

p.announce-banner strong {
    white-space:nowrap;
}

.md-banner__inner {
    margin: .3rem auto;
}

span.build {
    font-size: .66rem;
}

header.md-header .md-ellipsis {
    font-family: Roboto,sans-serif!important;
    font-size: 20px!important;
    font-weight: 500;
    letter-spacing: .02em!important;
}

.indent {
    margin-left: 1.875em;
}

.shadow {
    border-radius: 4px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    /* Elevation Low: box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%); */
    /* Elevation High: box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.zoom {
    transition: transform ease-in-out 0.5s;
    cursor: zoom-in;
}

.image-zoom-large {
    transform: scale(1.5);
    cursor: zoom-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 100;
    position: absolute;

    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    height: auto;
    width: auto;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 4px;
    background-color: var(--md-default-bg-color);
}