:root {
    --md-primary-fg-color: #fff;
    --md-primary-fg-color--light: hsla(0,0%,100%,.7);
    --md-primary-fg-color--dark: rgba(0,0,0,.07);
    --md-primary-bg-color: rgba(0,0,0,.87);
    --md-primary-bg-color--light: rgba(0,0,0,.54);
    --md-accent-fg-color: #fa0;
    --md-accent-fg-color--transparent: rgba(255,170,0,.1);
    --md-accent-bg-color: rgba(0,0,0,.87);
    --md-accent-bg-color--light: rgba(0,0,0,.54);
    --md-typeset-a-color: #4051b5;
    --md-admonition-icon--verified: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M17.3 45 13.5 38.5 5.95 36.95 6.8 29.6 2 24 6.8 18.45 5.95 11.1 13.5 9.55 17.3 3 24 6.1 30.7 3 34.55 9.55 42.05 11.1 41.2 18.45 46 24 41.2 29.6 42.05 36.95 34.55 38.5 30.7 45 24 41.9ZM24 24ZM21.85 30.65 33.2 19.4 30.95 17.35 21.85 26.35 17.1 21.4 14.8 23.65ZM18.65 41.05 24 38.8 29.5 41.05 32.85 36.05 38.7 34.55 38.1 28.6 42.15 24 38.1 19.3 38.7 13.35 32.85 11.95 29.4 6.95 24 9.2 18.5 6.95 15.15 11.95 9.3 13.35 9.9 19.3 5.85 24 9.9 28.6 9.3 34.65 15.15 36.05Z"/></svg>')
}

.only-sm,
.only-sm-and-up,
.only-md-and-up,
.only-lg-and-up {
    display: none;
}

footer.md-footer .footer-info {
    text-align: left;
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
    font-size: .64rem;
    margin: auto 0.6rem;
    padding: 0.4rem 0 0 0;
}

footer.md-footer .footer-info a {
    color: rgba(255, 255, 255, 0.55)!important;
}

footer.md-footer .md-copyright a:hover,
footer.md-footer  .footer-info a:hover {
    color: rgba(255, 255, 255, 0.7)!important;
    text-decoration: underline;
}

p.announce-banner a,
p.announce-banner a:focus,
p.announce-banner a:hover {
    color:currentColor;
}

p.announce-banner {
    margin: 0;
    padding: 0;
}

p.announce-banner strong {
    white-space:nowrap;
}

.md-banner__inner {
    margin: .3rem auto;
}

span.build {
    font-size: .66rem;
}

header.md-header .md-ellipsis {
    font-family: Roboto,sans-serif!important;
    font-size: 20px!important;
    font-weight: 500;
    letter-spacing: .02em!important;
}

.twitter {
    color: #1DA1F2;
}

@keyframes heart {
    0%, 40%, 80%, 100% {
        transform: scale(1);
    }
    20%, 60% {
        transform: scale(1.15);
    }
}

.heart {
    animation: heart 1000ms infinite;
}

.purple {
    color: #b65fc5!important;
}

.shadow {
    border-radius: 4px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    /* Elevation Low: box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%); */
    /* Elevation High: box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.zoom {
    transition: transform ease-in-out 0.5s;
    cursor: zoom-in;
}

.md-typeset .admonition.verified,
.md-typeset details.verified {
    border-color: #7c4dff;
}

.md-typeset .verified > .admonition-title,
.md-typeset .verified > summary {
    background-color: rgba(124, 77, 255, 0.1);
}

.md-typeset .verified > .admonition-title::before,
.md-typeset .verified > summary::before {
    /* background-color: rgb(43, 155, 70); */
    background-color: #7c4dff;
    -webkit-mask-image: var(--md-admonition-icon--verified);
    mask-image: var(--md-admonition-icon--verified);
}

@media only screen and (min-width: 601px) {
    .only-sm,
    .hide-sm-and-up {
        display: none;
    }

    .only-sm-and-up {
        display: inherit;
    }
}

@media only screen and (min-width: 993px) {
    .hide-md-and-up {
        display: none;
    }

    .only-md-and-up {
        display: inherit;
    }
}

@media only screen and (min-width: 1100px) {
    .hide-lg-and-up {
        display: none;
    }

    .only-lg-and-up {
        display: inherit;
    }
}

/* General Button Styles */

button {
    user-select: none;
    text-decoration: none;
}

a.btn,
a.btn-small,
a.btn-large,
a.action-button {
    text-decoration: none !important;
}

/* Action Button Styles */

div.action-buttons {
    margin-top: 2.5em;
    margin-bottom: 2em;
}

a.action-button {
    background-color: #4d5966;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    margin: 2px 0;
    padding: 8px 26px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    user-select: none;
}

p a.action-button {
    color: #ffffff!important;
}

a.action-button.bold {
    font-weight: bold !important;
}

.center-align.action-buttons {
    text-align: center;
    user-select: none;
}

p.action-buttons {
    padding-bottom: 1em;
}

p.center-align.action-buttons {
    padding: 20px 5px 25px;
}

.md-content article a.action-button,
.center-align.action-buttons a.action-button {
    background-color: #4c516d;
    margin-left: 2px;
    margin-right: 2px;
}

p.center-align.action-buttons .action-button {
    min-width: 138px;
}

.center-align.action-buttons a.action-button:hover,
a.action-button.prominent:hover,
a.action-button:hover {
    background-color: #fa0!important;
    color: #000000!important;
    font-weight: 500;
    text-decoration: none;
}

@media only screen and (min-width: 601px) {
    .center-align.action-buttons a.action-button {
        margin-left: 5px;
        margin-right: 5px;
    }
}

/* Sign Up Buttons */

div.action-buttons.membership {
    /* border-radius: 0.3em; */
    padding: 1.5em 0;
    margin: 0 0 1em 0;
    text-align: center;
}

div.action-buttons.membership a.action-button {
    min-width: 180px;
    font-size: .9em;
    padding: 0.525em;
    margin: 0 0.625em 15px 0.625em;
    background-color: #5E35B1;
}

div.action-buttons.membership a.action-button:hover {
    background-color: #fa0;
}

/* App Store Buttons */

div.appstore-buttons {
    clear: both;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    text-align: center;
}

div.appstore-buttons a {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
