a.action-button {
    border-radius: 5px;
    background-color: #4d5966;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.6rem;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    padding: 6px 20px;
    margin: 0 0 3px 0;
}

a.action-button:hover {
    text-decoration: none;
    font-weight: 500;
    background-color: #fa0;
    color: #000000;
}

footer.md-footer .footer-info {
    text-align: left;
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
    font-size: .64rem;
    margin: auto 0.6rem;
    padding: 0.4rem 0 0 0;
}

footer.md-footer .footer-info a {
    color: rgba(255, 255, 255, 0.55)!important;
}

footer.md-footer .md-copyright a:hover,
footer.md-footer  .footer-info a:hover {
    color: rgba(255, 255, 255, 0.7)!important;
    text-decoration: underline;
}

p.announce-banner a,
p.announce-banner a:focus,
p.announce-banner a:hover {
    color:currentColor;
}

p.announce-banner {
    margin: 0;
    padding: 0;
}

p.announce-banner strong {
    white-space:nowrap;
}

.md-banner__inner {
    margin: .3rem auto;
}

span.build {
    font-size: .66rem;
}

header.md-header .md-ellipsis {
    font-family: Roboto,sans-serif!important;
    font-size: 20px!important;
    font-weight: 500;
    letter-spacing: .02em!important;
}

.twitter {
    color: #1DA1F2;
}

@keyframes heart {
    0%, 40%, 80%, 100% {
        transform: scale(1);
    }
    20%, 60% {
        transform: scale(1.15);
    }
}
.heart {
    animation: heart 1000ms infinite;
}

.indent {
    margin-left: 1.875em;
}

.shadow {
    border-radius: 4px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    /* Elevation Low: box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%); */
    /* Elevation High: box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.zoom {
    transition: transform ease-in-out 0.5s;
    cursor: zoom-in;
}

.image-zoom-large {
    transform: scale(1.5);
    cursor: zoom-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 100;
    position: absolute;

    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    height: auto;
    width: auto;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 4px;
    background-color: var(--md-default-bg-color);
}

:root {
    --md-admonition-icon--verified: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M17.3 45 13.5 38.5 5.95 36.95 6.8 29.6 2 24 6.8 18.45 5.95 11.1 13.5 9.55 17.3 3 24 6.1 30.7 3 34.55 9.55 42.05 11.1 41.2 18.45 46 24 41.2 29.6 42.05 36.95 34.55 38.5 30.7 45 24 41.9ZM24 24ZM21.85 30.65 33.2 19.4 30.95 17.35 21.85 26.35 17.1 21.4 14.8 23.65ZM18.65 41.05 24 38.8 29.5 41.05 32.85 36.05 38.7 34.55 38.1 28.6 42.15 24 38.1 19.3 38.7 13.35 32.85 11.95 29.4 6.95 24 9.2 18.5 6.95 15.15 11.95 9.3 13.35 9.9 19.3 5.85 24 9.9 28.6 9.3 34.65 15.15 36.05Z"/></svg>')
}

.md-typeset .admonition.verified,
.md-typeset details.verified {
    border-color: #7c4dff;
}

.md-typeset .verified > .admonition-title,
.md-typeset .verified > summary {
    background-color: rgba(124, 77, 255, 0.1);
}

.md-typeset .verified > .admonition-title::before,
.md-typeset .verified > summary::before {
    /* background-color: rgb(43, 155, 70); */
    background-color: #7c4dff;
    -webkit-mask-image: var(--md-admonition-icon--verified);
    mask-image: var(--md-admonition-icon--verified);
}